@model MyEgitimAkademi.Models.Project
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Proje Ekleme Sayfası</h2>

<form method="post">

    @Html.HiddenFor(x => x.ProjectID, new { @class = "form-control" })
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <label>Proje Kategorisi</label>
    @Html.TextBoxFor(x => x.ProjectCategory, new { @class = "form-control" })
    <label>Tamamlanma Gün Sayısı</label>
    @Html.TextBoxFor(x => x.CompleteDay, new { @class = "form-control" })
    <label>Fiyat</label>
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-info">Kaydet</button>
</form>