@model List<MyEgitimAkademi.Models.TblAbout>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Giriş</th>
        <th>İsim Soyad</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Resim</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
    {
    <tr>
        <td>@item.AboutID</td>
        <td>@item.Introduction</td>
        <td>@item.NameSurname</td>
        <td>@item.Title</td>
        <td>@item.Description</td>
        <td>@item.AboutImage</td>
        <td><a href="/About/DeleteAbout/@item.AboutID" class="btn btn-outline-danger">Sil</a></td>
        <td><a href="/About/UpdateAbout/@item.AboutID" class="btn btn-outline-success">Güncelle</a></td>
    </tr>
    }
</table>
<br />
<a href="/About/AddAbout/" class="btn btn-outline-primary">Yeni  Giriş</a>

